<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/style.css">
        <title>{{title}}</title>
    </head>

    <body>
        <header>
            {{{body}}}
        </header>
        <footer>
            &copy joejonghyeok
        </footer>
    </body>


</html>
