<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/style.css">
        <title>{{title}}</title>
    </head>

    <body>
        <header>
            {{{body}}}
        </header>
        <footer>
            &copy joejonghyeok
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js"></script>
    </body>

</html>
