<h1>Edit Your Profile</h1>

<div class = "edit">
<p>
<form  method="post">
    <input type='text' name='firstname'></input>
    <span>
        First Name
    </span>
    <input type='text' name='lastname'></input>
    <span>
        Last Name
    </span>
    <input type='text' name='email'></input>
    <span>
        Email Address
    </span>
    <input type='password' name='password'></input>
    <span>
        Password
    </span>
    <input type='text' name='age'></input>
    <span>
        Age
    </span>
    <input type='text' name='city'></input>
    <span>
        City
    </span>
    <input type='text' name='homepage'></input>
    <span>
        Homepage
    </span>
</br>
</br>
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
    <button type="submit" id = "update" class = "update">UPDATE</button>
</form>
</p>
</div>
