<div class = 'login'>
    <header class = "login-header">
        <h1>Please Login</h1>
    </header>

<div class = 'login-nav'>
    <p>There have been multiple reports in the media on the microplastics we are ingesting – through our food (shellfish, honey and salt), our drinks (tap water, bottled water and beer), and even the air.</p>
</div>

<div class = "login-container-1">
<p>
    <form  method="post" action="/login">
    <input type='text' name='email' required></input>
    <span>Email</span></br>
    <input type='password' name='password' required></input>
    <span>Password</span></br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id = "login-btn" class = "login-btn">LOG IN</button>
    </form>
</p>
</div>

<div class = "login-container-2">
    <img src ="/reuse.png" / width = '300px';>
</div>

</div>
