<h1>Please Login</h1>

<div>
    {{#material}}
    <img src="burger.jpg">
    {{/material}}
</div>

<p>
    <form  method="post" action="/login">
    <input type='text' name='email' required></input>
    <span>
        Email
    </span>
    <input type='password' name='password' required></input>
    <span>
        Password
    </span>
    <div class = "message {{#if message}} on {{/if}}">
        <h4>Wrong email and password, please check again</h4>
    </div>
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
    <button type="submit" id = "login-btn" class = "login-btn">LOG IN</button>
</form>
</p>
