<h1>Sign our petition to get rid of pickles from all hamburgers around the world!</h1>

<div class = "petition">

    <div>
        {{#material}}
        <img src="burger.jpg">
        {{/material}}
    </div>


    <div class = "input">
        <form  method="post" action="/petition">
            <input type='text' name='first' required></input>
            <span>
                First Name
            </span>
            <input type='text' name='last' required></input>
            <span>
                Last Name
            </span>
            <input type="hidden" name="signature"></input>
        </br>
        </br>
            <canvas id="canvas" width="750" height="200"></canvas>
            <button type="button" id = "clear-btn">Clear</button>
            <button type="submit" id = "subtmit-btn" class = "subtmit-btn">Submit</button>
        </form>
    </div>

        <span>Sign Here</span>
    </div>
</div>
