<div class = "signed">

    <header class = "signed-header">
        <h1>Thank you for signing our petition!</h1>
    </header>

    <div class = 'signed-nav'>
        <a href = "/profile/edit"><button type="submit" id = "edit-btn" class = "edit-btn">EDIT YOUR PROFILE</button></a>
        <form method="post" action="/deleteSignature">
            <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"></input> -->
            <button class = 'delete-btn'>Delete Your Signature</button>
        </form>
        <a href = "/logout"><button class = "logout-btn">LOGOUT</button></a> </br>
        <a href = "/petition/signers" style = "text-decoration: none;">See all {{count}} signers<button class = "singers-btn"></button></a>

    </div>

<div class = "signed-container-1">

<div>
    <img src = {{sigimage}}>
</div>

</div>

<div class = "signed-container-2">
<p>😀</p>
</div>

</div>
