<h1>Thank you for signing our petition to get rid of all pickles from all hamburgers around the world</h1>

<div class = "signed">

<div>
    {{#material}}
    <img src = "/burger.jpg">
    {{/material}}
</div>

<div>
    <img src = {{sigimage}}>
</div>

<p>
    <div class = "signerslist">
        <a href = '/petition/signers'> See all {{count}} signers </a>
    </div>
</p>

<a href = "/profile/edit"><button type="submit" id = "edit-btn" class = "edit-btn">EDIT YOUR PROFILE</button></a>
<a id="logout" href="/logout">LOGOUT</a>

</div>
