<h1>We the undersigned demand that disgusting practice of eating burgers with pickles be banned by all around the world</h1>

<div class = "signers">

<div>
    {{#material}}
    <img src = "burger.jpg">
    {{/material}}
</div>


{{#signers}}
{{first}} {{last}}
{{/signers}}

</div>
