* {
    /* background-color: #01FF70 */
    margin: 10px;
    box-sizing: border-box;
}

input {
    font-size: 20px;
}

.input {
    font-size: 20px;
}
-------------------------------------------------------------------------------
/* register */
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-container{
    width: 200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signed {
    font-size: 40px;
}
-------------------------------------------------------------------------------
.signers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    text-align: center;
}

.allsigners {
    width: 100%;
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#canvas {
    border: 2px solid black;
}
-------------------------------------------------------------------------------
.message {
    visibility: hidden;
    margin: 10px;
}

.message.on {
    visibility: visible;
    margin: 10px;
}

-------------------------------------------------------------------------------

.edit {
    color: blue;
}
